
$primary-color: rgb(214, 40, 40);

@function test($base1, $base2) {
    $result: $base1 + $base2;
    @return $result;
} 

@function borderColor() {
    $primary-color: rgb(214, 40, 40);
    @return $primary-color;
}

@mixin borderRadius($radius: 0) {
    @if $radius != 0 {
        border-radius: $radius;
    }

}

* {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.Wrap {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .Item {
        width: 25%;
        margin: 17px;
        text-align: center;
        border: 1px solid borderColor();
        transform: translateY(0px);
        transition: .8s;
        @include borderRadius($radius: 10px);

        > .Txt {
            > h2 {
                border-bottom: 1px solid #888;
                padding-bottom: .3em;
                margin-bottom: .5em;
                font-weight: 900;
            }

            > p {
                margin-bottom: .5em;
            }
            
        }
    }

    > .Item:hover {
        transform: translateY(-50px);
    }

    > .Image {
        position: relative;

        > img {
            vertical-align: middle;
        }


        > .ImgTxt h2{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 20px;
            background-color: rgba(0,0,0,.3);
            color: #ff0;
            border: 2px solid borderColor();
            display: flex;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            transition: opacity 8s;
        }

    }

    > .Image:hover {
        > .ImgTxt h2{
            opacity: 1;
        }
    }

    > .ItemPic {
        display: flex;
        align-items: center;

        > .Pic {
            width: 55%;
            flex-shrink: 0;
            > img {
                width: 100%;
                vertical-align: middle;
            }

        }

        > .Txt {
            width: 55%;
            background-color: rgba(42, 253, 208, .8);
            flex-shrink: 0;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
        }

        > :first-child{
            margin-right: -10%;
        }
    }

}


#test1 {
    > #test2 {
        margin-top: 30px;
    }
}